<!-- <div class="row h-100 justify-content-center align-items-cente">
  <div class="col-md-3 mt-3">
     
<div class="card text-white bg-success">
  <div class="card-body text-center">
    <h4 class="card-title">الصندوق</h4>
    <p class="card-text">MRU {{ soldeCaisse$ }}.00</p>
  </div>
</div>
  </div>
     
  <div class="col-md-3 mt-3">
    <div class="card text-white bg-info">
      <div class="card-body text-center">
        <h4 class="card-title">المحفظة</h4>
        <p class="card-text">MRU {{ soldePortf$ }}.00</p>
      </div>
    </div>
  </div>
</div>
 -->
<!-- <div class="row h-100 justify-content-center align-items-cente">
  <div class="col-md-3 mt-3">
    <div class="card text-white bg-primary">
      <div class="card-body text-center">
        <h4 class="card-title">البنك</h4>
        <p class="card-text">MRU {{ soldeBank$ }}.00</p>
      </div>
    </div>
   </div>
   <div class="col-md-3 mt-3">
    <div class="card text-white bg-primary">
      <div class="card-body text-center">
        <h4 class="card-title">الربح</h4>
        <p class="card-text">MRU {{ gain$ }}.00</p>
      </div>
    </div>
  </div>
</div>   
 -->



<div class="row justify-content-center align-items-center">
    

  <div class="col">
    <div class="row justify-content-center align-items-center g-2">
      <div class="col">
        <div class="card border-primary text-primary mb-3">
          <div class="card-header text-center"><h2>البنك</h2></div>
          <div class="card-body  text-center">
            <h2>
              <p class="card-text solde animate">MRU {{ soldeBank$ }}.00</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-secondary text-secondary mb-3">
          <div class="card-header text-center"><h2>المحفظة</h2></div>
          <div class="card-body  text-center">
            <h2>
              <p class="card-text solde">MRU {{ soldePortf$ }}.00</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-secondary text-success  mb-3">
          <div class="card-header text-center"><h2>الربح</h2></div>
          <div class="card-body text-center">
            <h2>
              <p class="card-text solde">MRU {{ soldegain$ }}.00</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-success text-dark mb-3">
          <div class="card-header text-center"><h2>الصندوق</h2></div>
          <div class="card-body  text-center">
            <h2>
              <p class="card-text solde">MRU {{ soldeCaisse$ }}.00</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-success text-warning mb-3">
          <div class="card-header text-center"><h2>الودائع</h2></div>
          <div class="card-body  text-center">
            <h2>
              <p class="card-text solde">MRU {{ soldepot$ }}.00</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-success text-danger mb-3">
          <div class="card-header text-center"><h2>النفقات</h2></div>
          <div class="card-body  text-center">
            <h2>
              <p class="card-text solde">MRU {{ soldeDepnse$}}.00</p>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>