<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center  mb-2 mb-lg-0 text-white text-decoration-none">
        <i-bs name="eye" width="40" height="40" style="color: d4bbf1;"> </i-bs>
        <h2 class="logotitle">OpenAye</h2>
      </a>
      <div class="ul">
        <div class="li"> <div class="vertical"> </div></div>
      </div>
      
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a routerLink="/admin" routerLinkActive="active" class="nav-link px-2 text-center"><i-bs name="house"
              width="20" height="20"> </i-bs>
            
          </a>
        </li>
        <li>
          <a routerLink="team" routerLinkActive="active" class="nav-link px-2 ">المتاجر</a>
        </li>
        <li>
          <a routerLink="earnigs" routerLinkActive="active" class="nav-link px-2  text-center">
            الأرباح
          </a>
        </li>

        <li>
          <a routerLink="deposit" routerLinkActive="active" class="nav-link px-2 ">الودائع</a>
        </li>

        <li>
          <a routerLink="expenses" routerLinkActive="active" class="nav-link px-2 ">النفقات</a>
        </li>
        <li>
          <a routerLink="transferfont" routerLinkActive="active" class="nav-link px-2 ">تحويلات</a>
        </li>
        <li>
          <a routerLink="operatins" routerLinkActive="active" class="nav-link px-2 ">اليوميات</a>
        </li>
      </ul>

      <!--  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search" />
      </form> -->

      <div class="text-end">
         <button *ngIf="displayName$ | async as displayName">{{displayName$}}</button>
        <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</header>